 <p>コメント<%= post.comments.count %>件</p>
  <div class="row px-5">
    <% post.comments.each do |comment| %>
        <div class="col-2">
          <p><%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
        </div>
        <div class="col-10">
          <%= comment.comment_content %></br>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user == current_user %>
            </br><%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true %>
          <% end %>
        </div>
    <% end %>
  </div>