<div class= "container">
   <p class="text-success pl-5"></p>
  <div class= "row px-4">
    <div class = "col-md-4">
      <div class="border border-dark text-center pb-4 m-4">
        <%= render "users/user", user: @user %>
      </div>
    </div>

    <div class="col-md-8 text-center">
      <h5 class="text-left"><i class="fas fa-user"></i> <%= @user.name %>さんのフォロワー会員</h5>
      <% if @users.present? %>
        <table class="table">
          <thead>
            <tr class="border-bottom">
              <th>プロフィール画像</th>
              <th>氏名</th>
              <th>紹介文</th>
            </tr>
          </thead>
          <tbody>
              <% @users.each do |user| %>
                <tr>
                <td><%= link_to user_path(user.id) do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
                <% end %></td>
                  <td><%= user.name %></td>
                  <td><%= simple_format(user.introduction) %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      <% else %>
        <h5 class="pt-4">フォロワーはいません <i class="far fa-smile"></i></h5>
      <% end %>
    </div>
  </div>
</div>

