<div class= 'container'>
  <div class= 'row'>
    <div class = 'col-md-3'>
      <%= render "users/user", user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h4>会員一覧</h4>
        <% @users.each do |user| %>
            <p>プロフィール画像</p>
          <%= link_to user_path(user.id) do %>
            <p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></p>
          <% end %>
            <p><%= user.name %></p>
            <p><%= user.introduction %></p>
            <p>フォロー: <%= user.followings.count %></p>
            <p>フォロワー: <%= user.followers.count %></p>
        <% end %>
    </div>
  </div>
</div>

