<div class= "container">
  <div class= "row px-4">
    <div class = "col-md-3">
      <div class="border border-dark text-center">
        <%= render "users/user", user: @user %>
      </div>
    </div>

    <div class="col-md-9">
       <botton><p class="text-right"><%= link_to "新規投稿", new_post_path(@user),class: "btn btn-outline-success fas fa-plus" %></p></botton>
      <h4 class="border-bottom"><span class="p-4"><%= @user.name %>さんの投稿</span></h4>
      <div class="row text-center pt-4">
          <!--投稿一覧を表示-->
          <% @posts.each do |post| %>
            <div class="col-md-6">
              <p>
                <%= link_to post_path(post.id) do %>
                  <%= attachment_image_tag post, :image, :fill, 250, 150, format: "jpeg", fallback: "no_image.jpg", class: "shadow-lg" %>
                  <p class="px-5"><%= post.title %></p>
                <% end %>
              </p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @posts %>