 <% chats.each do |chat| %>
 <% if chat.user_id == current_user.id %>
 <tr>
     <th></th>
    <th>
      <p style="text-align: right;">
        <p class="text-center"><%= chat.message %></p>
        <p class="text-right"><%= link_to attachment_image_tag(chat.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80', class:"profile-image align-top"), user_path(chat.user) %></p>
        <p class="text-right"><%= chat.user.name %></p>
        <p class="text-right"><%= l chat.created_at %></p>
      </p>
    </th>
  </tr>
  <% else %>
  <tr>
    <th>
      <p style="text-align: left;">
        <p class="text-center"><%= chat.message %></p>
        <p class="text-left"><%= link_to attachment_image_tag(chat.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", size:'80x80', class:"profile-image align-top"), user_path(chat.user) %></p>
        <p class="text-left"><%= chat.user.name %>
        <!--投稿日時を表示する-->
        <span class="text-left pl-4"><%= l chat.created_at %></span></p>
      </p>
    </th>
   <th></th>
  </tr>
  <% end %>
  <% end %>