<div class="container">
  <div class="row py-3">
    <div  class="col-3 offset-1 text-center">
      <h3 class="d-inline-flex px-2 pt-2 bd-highlight">投稿情報編集</h3>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-9 mx-auto text-center">

      <%= form_with model:@post, local:true do |f| %>
        <!--バリデーションエラーメッセージ-->
        <%= render 'layouts/error_messages', model: f.object %>

          <div class="row form-group pt-3">
            <div class="col-4">投稿画像</div>
            <div class="row">
              <p class="col-12 text-left"><変更前></p>
              <span class="col-3"><%= attachment_image_tag @post, :image, :fill, 150, 100, format: 'jpeg', fallback: "no_image.jpg" %></span>
            </div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4"></div>
            <div class="row">
              <p class="col-12 text-left"><変更後></p>
              <span class="col-3"><%= f.attachment_field :image, placeholder: "画像" %></span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-4"></div>
            <p class="col-4"><img id="preview" style="width:100%;"></p>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">タイトル</div>
            <div><%= f.text_area :title, :size=>"50x2", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">都道府県</div>
            <div><%= f.text_field :prefectures, class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">おすすめ季節</div>
            <label class="p-2"><%= f.radio_button :season,"春", checked: true %> 春(3月~5月)</label>
            <label class="p-2"><%= f.radio_button :season,"夏" %> 夏(6月~8月)</label>
            <label class="p-2"><%= f.radio_button :season,"秋" %> 秋(9月~11月)</label>
            <label class="p-2"><%= f.radio_button :season,"冬" %> 冬(12月~2月)</label>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">紹介文</div>
            <div><%= f.text_area :introduction, :size=>"50x10", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">ひと言文</div>
            <div><%= f.text_area :word, :size=>"50x2", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
              <div class="col-4">タグ付け<br />(複数可能)</div>
              <!--タグのチェックボックス-->
              <div class="row form-group pl-3">
                <%= f.collection_check_boxes(:tag_ids, @top, :first, :last) do |tag| %>  <!--first=ID, last=name-->
                  <span class="form-check pr-2 pt-3">
                    <%= tag.label class: "form-check-label" do %>
                      <%= tag.check_box class: "form-check-input" %>
                      <%= tag.text %>
                    <% end %>
                  </span>
                <% end %>
              </div>
            </div>

          <div class="row form-group pt-3">
            <div class="col-4">その他の追加<br />(' , 'で区切ってください)</div>
              <div><%= f.text_field :names, :size=>"50x2", class:"form-control", value: @tag_list, :placeholder => "' , 'で区切ってください" %></div>
          </div>

        <%= f.submit "保存" %>
      <% end %>
    </div>

    <div class="col-md-3 text-center">
      <div class="text-body border border-secondary py-3">
        <h5><i class="fas fa-tag text-success"></i>人気のタグはこちら</br>~top5~</h5>
        <!--タグ一覧-->
        <% @tag_lists.each do |list| %>
            <% if list.count != 0 %>
              <button class=" border border-secondary ml-2 mt-1 text-dark" disabled>
                <%=link_to list.tag.name, search_tag_path(tag_id: list.tag.id) %>
                <%="(#{list.count})" %></botton>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
