<!--スライドショーの適用-->
<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-8 mx-auto text-center pt-5">
      <div class="border border-1 py-4 border-secondary">
       <h5 class="font">What are the local’s favorite food?</br>
        <span>~ あなたの地域で愛されてる食品はなんですか? ~</span></br>
        <span>食卓に地元の食材を！</span>
        <span>全国の食と人を繋げます。</span></h5>
      </div>
      <h4 class="pt-5 border-bottom">投稿一覧</h4>
        <% if @posts.present? %>
          <div class="row pb-3">
            <% @posts.each do |post| %>
              <div class="p-3 mx-auto">
                <div class="card px-4 py-3 " style="width: 18rem;">
                  <span class="text-right"><i class="fas fa-heart text-danger"></i>️️<%= post.favorites.count %></span>
                  <p class="card-img-top">
                  <div class="img_side">
                    <%= link_to post_path(post.id) do %>
                      <%= attachment_image_tag post, :image, :fill, 220, 160, format: 'jpeg', fallback: "no_image.jpg" %>
                  </div>
                  </p>
                  <p class="card-title text-body"><%= post.title %></p>
                    <% end %>

                  <!--投稿一覧画面で投稿に紐づくタグを表示-->
                  <i><span class="fas fa-tag text-success"></span>
                    <% post.tags.each do |tag| %>
                      <%= link_to tag.name,search_tag_path(tag_id: tag.id)%>
                      <%="(#{tag.posts.count})" %>
                    <% end %></i>
                    <% if user_signed_in? %>
                      <p><%= link_to post.comments.count, post_path(post.id) %>コメント</p>
                    <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="pagination justify-content-center"><%= paginate @posts %></div>
        <% else %>
          <h3 class="pt-3">投稿が見つかりません...<i class="far fa-sad-tear"></i></i></h3>
        <% end %>
      </div>

      <div class="col-md-3 py-5">
        <%= render "posts/sidebar", tag_lists: @tag_lists, week_post_favorite_ranks: @week_post_favorite_ranks, month_post_comment_ranks: @month_post_comment_ranks %>
      </div>
    </div>
  </div>

  <!-- ページトップへ戻るボタン -->
  <p class="pagetop" style="display: block;">
    <a href="#">
      <i class="fas fa-chevron-up"></i>
    </a>
  </p>