<div class="container">
  <div class="row py-3">
    <div  class="col-3 offset-1 text-center">
      <h3 class="d-inline-flex px-2 pt-2 bd-highlight">投稿新規投稿</h3>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-9 mx-auto text-center">

      <%= form_with model:@post, local:true do |f| %>

        <!--バリデーションエラーメッセージ-->
        <%= render 'layouts/error_messages', model: f.object %>

          <div class="row form-group pt-3">
            <div class="col-4">投稿画像</div>
            <div><%= f.attachment_field :image %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">タイトル</div>
            <div><%= f.text_area :title, :size=>"50x2", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">都道府県</div>
            <div><%= f.text_field :prefectures, class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">おすすめ季節</div>
            <label class="p-2"><%= f.radio_button :season,"春", checked: true %> 春(3月~5月)</label>
            <label class="p-2"><%= f.radio_button :season,"夏" %> 夏(6月~8月)</label>
            <label class="p-2"><%= f.radio_button :season,"秋" %> 秋(9月~11月)</label>
            <label class="p-2"><%= f.radio_button :season,"冬" %> 冬(12月~2月)</label>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">紹介文</div>
            <div><%= f.text_area :introduction, :size=>"50x10", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">ひと言文！</div>
            <div><%= f.text_area :word, :size=>"50x2", class:"form-control" %></div>
          </div>

          <div class="row form-group pt-3">
            <div class="col-4">タグ付け<br />(複数可能' , 'で区切ってください)</div>
            <div><%= f.text_field :names, :size=>"50x2", class:"form-control" %></div>
          </div>

        <%= f.submit "登録" %>
      <% end %>
      </div>
      <div class="col-3">
        <h4>タグおすすめ</h4>
        <!--タグ一覧-->
        <%= render "posts/sidebar", tag_lists: @tag_lists %>
      </div>
  </div>
</div>
