<div class="container">
  <h5>タグが<%= @tag.name %>の投稿一覧</h5>

  <!--タグリスト-->
  <% @tag_lists.each do |list| %>
    <% if list.posts.count != 0 %>
      <%=link_to list.name,search_tag_path(tag_id: list.id) %>
      <%="(#{list.posts.count})" %>
    <% end %>
  <% end %>

  <% @posts.each do |post| %>
    <!--投稿はカードで囲む-->
    <div class="card">
      <div class="card-body">
        <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, :fill, 200, 150, format: 'jpeg', fallback: "no_image.jpg" %>
          <p class="card-title"><%= post.title %></p>
        <% end %>
          <p class="ml-5">❤️️<%= post.favorites.count %></p>
          <i class="fas fa-tag"><%= post.tags.map(&:name).join(', ') %></i>
      </div>
    </div>
  <% end %>
</div>