<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h5><%= @tag.name %>の投稿一覧</h5>
       <div class="row">
        <% @posts.each do |post| %>
          <!--投稿はカードで囲む-->
          <div class="p-3 mx-auto">
            <div class="card-md-3">
              <div class="card pt-3 px-3" style="width: 18rem;">
                <p class="card-img-top">
                  <%= link_to post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, :fill, 220, 150, format: 'jpeg', fallback: "no_image.jpg" %>
                </p>
                    <p class="card-title"><%= post.title %></p>
                  <% end %>
                    <p class="ml-5">❤️️<%= post.favorites.count %></p>
                    <i class="fas fa-tag">
                  <% post.tags.each do |tag| %>
                    <%= link_to tag.name,search_tag_path(tag_id: tag.id)  %>
                  <% end %>
                    </i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    <div class="col-3">
      <h4>サイドバー</h4>
        <!--タグ一覧表示-->
        <%= render "posts/sidebar", tag_lists: @tag_lists %>
    </div>
  </div>
</div>