<div class="container py-3">
  <div class="row">
    <div class="col-md-9 col-sm-12">

      <div class="row">
         <div class="text-success"></div>
        <div class="col-md-12 mx-auto p-3 text-center">
          <!--タグの表示-->
          <% @post_tags.each do |tag| %>
            <%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
          <% end %>

          <p>タイトル</p>
          <h3 class="mb-4 border-bottom"><%= simple_format(@post.title) %></h3>　<!--改行を反映-->
          <p class="text-start">投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %>
          <p class="mt-3">都道府県：<%= @post.prefectures %><span class="ml-5">おすすめ季節: <%= @post.season %></span></p>
          <%= attachment_image_tag @post, :image, :fill, 530, 350, format: 'jpeg', fallback: "no_image.jpg" %>
          <p class="mt-4">紹介文</p>
          <h4><%= simple_format(@post.introduction) %></h4></br>
          <p>投稿者からのひと言</p>
          <h5><%= simple_format(@post.word) %></h5>
          <% if @post.user == current_user %>
            <i class="fas fa-heart text-danger"></i>️️<%= @post.favorites.count %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-muted ml-2 mt-1 border"%>
            <%= link_to "削除", post_path(@post), class: "btn btn-muted ml-2 mt-1 border", method: :delete, data: {confirm: "本当に削除しますか？"}  %>
              <!--コメントの内容の部分テンプレート-->
              <div class = "comments_area p-3">
                <%= render "comments/comment", post: @post %>
              </div>
          <% else %>

          <% if user_signed_in? %>
            <div class="py-3">
              <!--いいね機能の部分テンプレート-->
              <p id="favorites_buttons_<%= @post.id %>">
          　　  　<%= render "favorites/favorite", post: @post %>
          　　</p>

          　　<!--ブックマーク機能の部分テンプレート-->
              <p id="bookmark_button_<%= @post.id %>">
                <%= render "bookmarks/bookmark", post: @post %>
              </p>

              <div>投稿者:
                <%= link_to user_path(@post.user.id) do %>
                  <%= @post.user.name %>
                <% end %>
              </div>
            </div>
              <!--コメントの内容の部分テンプレート-->
              <div class = "comments_area p-3">
                <%= render "comments/comment", post: @post %>
              </div>

              <!--コメント入力フォーム-->
              <div class="row px-5">
                <div class="col-md-2">
                  <!--自分のプロフィール画像を表示-->
                  <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                </div>
                <div class="col-md-10">
                  <%= render "comments/form", post: @post, comment: @comment %>
                </div>
              </div>
            <% end %>
          <% end %>
            <p class="text-left"><i class="fas fa-arrow-left"></i><%= link_to "  一覧に戻る", posts_path %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center col-sm-1 pt-5">
      <div class="text-body border border-secondary py-3">
        <h5><i class="fas fa-tag text-success"></i>人気のタグはこちら</br>~top5~</h5>
        <% @tag_lists.each do |list| %>
            <% if list.count != 0 %>
              <button class=" border border-secondary ml-2 mt-1 text-dark" disabled>
                <%=link_to list.tag.name, search_tag_path(tag_id: list.tag.id) %>
                <%="(#{list.count})" %></botton>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>