<!DOCTYPE html>
<html>
  <head>
    <title>SpecialProduct</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    
      <%= yield %>
      
    <footer>
      <div class="mt-5" style="border-top: 1px solid black; text-align: center; font-size: 25px; font-family: cursive;">footer</div>
    </footer>
  </body>
</html>
